spring:
  application:
    name: iotfsdb
  main:
    banner-mode: off
  grpc:
    server:
      enabled: true
      port: 9090
      ssl:
        secure: false
  servlet:
    multipart:
      max-file-size: 100MB
      max-request-size: 100MB
  threads:
    virtual:
      enabled: true

logging.level:
  root: WARN
  org.huebert: INFO
  org.springframework: WARN

server:
  compression:
    enabled: true
    mime-types: text/html,text/xml,text/plain,text/css,text/javascript,application/javascript,application/json,image/svg+xml
    min-response-size: 2048

iotfsdb:
  read-only: false
  persistence:
    root: "memory"
    partition-cache: expireAfterAccess=5m,maximumSize=10000,softValues
  api:
    grpc: true
    rest: true
    internal: false
    ui: true
  stats:
    enabled: false
  query:
    max-size: 1000
  series:
    create-on-insert: true
    default-series:
      definition:
        type: FLOAT4
        interval: 60000
        partition: DAY
      metadata:
        createdBy: "iotfsdb"
  security:
    users:
      admin:
        password: "$2a$10$8K1p/9qjQzV8gFJhDyWfOuHxYvZzXzXzXzXzXzXzXzXzXzXzXzXzX" # Default password: admin
        roles: "USER"
    api-keys:
      rest: "rest-api-key-12345"
      grpc: "grpc-api-key-12345"

gg:
  jte:
    developmentMode: false
    usePrecompiledTemplates: true

springdoc:
  swagger-ui:
    enabled: true
  api-docs:
    enabled: true
