name: Update Version

permissions:
  contents: write

on:
  workflow_dispatch:
    inputs:
      version:
        description: 'Next version'
        required: true
        type: string

jobs:
  version:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Source
        uses: actions/checkout@v6
        with:
          token: ${{ secrets.GH_PAT }}
      - name: Update version.txt
        run: echo "${{ inputs.version }}" > version.txt
      - name: Commit Changes
        uses: stefanzweifel/git-auto-commit-action@v7
        with:
          commit_message: Update version to ${{ inputs.version }}
